*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

#calculator{
    width: 500px;
    margin: 150px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#calculator button,
#calculator input[type="text"]{
    width: 25%;
    padding: 15px 20px;
    border: none;
    font-size: 25px;
    font-weight: 700;
    box-shadow: 0 0 0 1px #999, inset 5px 5px 6px #ddd;
    cursor: pointer;
}

#calculator input[type="text"]{
    width: 100%;
    background: #fff;
    cursor: default;
}